Repository wesnel/elsewhere, changes with the labels that .github/labeler.yml gives for each.
All labels: changes: tests, changes: ci, changes: build, changes: docs

Move excursion logic to higher function
  elsewhere-test.el
  elsewhere.el
Labels: none

Add special handling for case where selection is one line
  elsewhere.el
Labels: none

Make `elsewhere-build-url` an interactive autoload function
  elsewhere-test.el
  elsewhere.el
Labels: none

Add additional test cases
  elsewhere-test.el
Labels: none

Clean up documentation
  elsewhere-test.el
Labels: none

Re-order functions
  elsewhere.el
Labels: none

Add support for GitLab
  elsewhere-test.el
  elsewhere.el
Labels: none

Add ability to choose rev interactively
  elsewhere-test.el
  elsewhere.el
Labels: none

Update README
  README.md
Labels: changes: docs

Add gitlab to list of supported git remotes
  README.md
Labels: changes: docs

Fix bug where current revision is `nil` in sub-directories
  elsewhere.el
Labels: none

Add macOS things to gitignore
  .gitignore
Labels: none

Add emacs 29.1 to test workflow
  .github/workflows/test.yml
Labels: changes: ci

Add gifs for demo
  elsewhere-build-url.gif
  elsewhere-open.gif
Labels: none

End sentences with double space
  elsewhere.el
Labels: none

Clean up regular expressions
  elsewhere.el
Labels: none

Add eldev
  .github/workflows/test.yml
  .gitignore
  Eldev
  Makefile
Labels: changes: ci, changes: build

End sentences with double space
  elsewhere.el
Labels: none

Clean up regular expressions
  elsewhere.el
Labels: none

Add eldev
  .github/workflows/test.yml
  .gitignore
  Eldev
  Makefile
Labels: changes: ci, changes: build

Change condition for when CI is run
  .github/workflows/test.yml
Labels: changes: ci

Change CI version matrix
  .github/workflows/test.yml
Labels: changes: ci

Remove `continue-on-error` logic from CI
  .github/workflows/test.yml
Labels: changes: ci

Change emacs setup step used in CI
  .github/workflows/test.yml
Labels: changes: ci

Remove snapshot from CI
  .github/workflows/test.yml
Labels: changes: ci

Remove eldev doctor step from CI
  .github/workflows/test.yml
Labels: changes: ci

Enable dependabot
  .github/dependabot.yml
Labels: changes: ci

Attempt to enable coverage
  .github/workflows/test.yml
Labels: changes: ci

Attempt to send coverage from eldev directly
  .github/workflows/test.yml
  Makefile
Labels: changes: ci, changes: build

Try again to send coverage information to coveralls
  .github/workflows/test.yml
  Makefile
Labels: changes: ci, changes: build

Yet another attempt to get coverage working
  .github/workflows/test.yml
  Makefile
Labels: changes: ci, changes: build

Hopefully one last attempt at getting coverage working
  .github/workflows/test.yml
Labels: changes: ci

Attempt to fix windows coverage report
  .github/workflows/test.yml
  .gitignore
  Makefile
Labels: changes: ci, changes: build

Fix test command format
  Makefile
Labels: changes: build

Give up on getting windows coverage to work
  .gitignore
  Makefile
Labels: changes: build

Use `vc-responsible-backend` for fetching VC backend
  elsewhere.el
Labels: none

Add more information to user error message
  elsewhere.el
Labels: none

Do a better job at fetching the current Git revision
  README.md
  elsewhere.el
Labels: changes: docs

Bump minimum Emacs version to 29.1
  .github/workflows/test.yml
  README.md
  elsewhere-test.el
  elsewhere.el
Labels: changes: ci, changes: docs

Bump `elsewhere` version to `v1.1.0`
  elsewhere-test.el
  elsewhere.el
Labels: none

.github/labeler.yml:

"changes: tests":
  - "*_test.el"
  - "**/*_test.el"

"changes: ci":
  - ".github/*"
  - ".github/**/*"

"changes: build":
  - "Makefile"

"changes: docs":
  - "README.md"
