Repository wesnel/elsewhere, changes with the labels that .github/labeler.yml gives for each.
All labels: changes: tests, changes: ci, changes: build, changes: docs

.github/labeler.yml:

"changes: tests":
  - "*_test.el"
  - "**/*_test.el"

"changes: ci":
  - ".github/*"
  - ".github/**/*"

"changes: build":
  - "Makefile"

"changes: docs":
  - "README.md"

Add more tests
  elsewhere-test.el
Labels: none

Change how interactive command arguments are initialized
  elsewhere-test.el
  elsewhere.el
Labels: none

Add badges to README
  README.md
Labels: changes: docs

Add check on length of `browse-url-handlers`
  elsewhere-test.el
Labels: none

Shorten docstrings
  elsewhere.el
Labels: none

Link to supported Git forges
  README.md
Labels: changes: docs

Add support for Sourcehut
  README.md
  elsewhere-test.el
  elsewhere.el
Labels: changes: docs

Bump version to `v1.2.0`
  elsewhere-test.el
  elsewhere.el
Labels: none

Fix indentation
  elsewhere.el
Labels: none

Add extra tests for some edge cases
  elsewhere-test.el
Labels: none

Fix broken start and end arguments for `elsewhere-build-url`
  elsewhere.el
Labels: none

Clean up usage of `transient-mark-mode` in tests
  elsewhere-test.el
Labels: none

Split one big test into many small tests
  elsewhere-test.el
Labels: none

Add more to README
  README.md
Labels: changes: docs

Use `rx` for building regexps
  elsewhere.el
Labels: none

Improve logic for selecting a Git revision
  elsewhere-test.el
  elsewhere.el
Labels: none

Bump version to `v1.2.1`
  elsewhere-test.el
  elsewhere.el
Labels: none

Configure environment variables for Git in tests
  elsewhere-test.el
Labels: none

Change header nesting in README
  README.md
Labels: changes: docs

Add ability to choose a remote
  elsewhere-test.el
  elsewhere.el
Labels: none

Add test for interactive usage
  elsewhere-test.el
Labels: none

Improve documentation
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  elsewhere-test.el
  elsewhere.el
Labels: changes: ci

Change markdown formatting
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  README.md
Labels: changes: ci, changes: docs

Add section about Git etiquette to pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: changes: ci

Bump version to `1.3.1`
  CHANGELOG.md
  elsewhere-test.el
  elsewhere.el
Labels: none

Use GitHub YAML issue template
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/BUG.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: changes: ci

Change markdown formatting
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: changes: ci

Change markdown formatting
  .github/PULL_REQUEST_TEMPLATE.md
Labels: changes: ci

Add sourcehut mercurial support to the readme
  README.md
Labels: changes: docs
